.event-card {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  width: 50rem;
  margin-bottom: 15px;
  display: flex;
}

.event-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.event-card p {
  margin-bottom: 10px;
}

.event-date {
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
  margin-left: 20px;
}

.event-card-img {
  width: 180px;
  height: 150px;
  margin-right: 2rem;
}

.event-stat {
  display: flex;
}
